<?xml version="1.0"?>
<config>
    <routes>
        <standard>
            <module>Core_Controller_Router_Standard</module>
        </standard>
    </routes>
    <database>
        <host>localhost</host>
        <dbname>users</dbname>
        <user>root</user>
        <password>password</password>
    </database>
    <table>
        <users>
            <setup>0</setup>
        </users>
    </table>
</config>