<?xml version="1.0"?>
<config>
    <routers>
        <standard>
            <module>Core_Controller_Router_Standard</module>
        </standard>
    </routers>
    <database>
        <host>localhost</host>
        <dbname>application</dbname>
        <user>root</user>
        <password>password</password>
    </database>
</config>