<?xml version="1.0"?>
<config>
    <controller>
        <blog>
            <uri>home</uri>
        </blog>
    </controller>
    <table>
        <setup>1</setup>
    </table>
    <routers>
        <base>
            <module>Base_Controller_Router_Base</module>
        </base>
    </routers>
</config>